name: Release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry run
        required: false
        default: false
        type: boolean
      tag:
        description: The tag to use during publish, values are latest, next
        required: false
        default: latest
        type: choice
        options:
          - latest
          - next

permissions:
  contents: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  publish-npm:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      - name: Run Unit Tests
        run: |
          npm ci
          npm run test

      - name: Run Build
        run: npm run build

      - name: Publish to npm
        run: npm publish --tag ${{ github.event.inputs.tag || 'latest' }} --access public --provenance ${{ github.event.inputs.dry-run == 'true' && '--dry-run' || '' }}

      - name: Get Version
        id: get-version
        run: |
          echo "version=$(npm pkg get version | tr -d '"')" >> $GITHUB_OUTPUT

      - name: Parse CHANGELOG.md
        id: parse-changelog
        uses: schwma/parse-changelog-action@1c2b2005ccf594cc3a45d33c10af4ab924d3a1c5 # v1.2.0
        with:
          version: '${{ steps.get-version.outputs.version }}'
          title-regex: '^##\s+\[\d.*$'

      - name: Create a GitHub release
        if: ${{ github.event.inputs.dry-run != 'true' }}
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          tag: 'v${{ steps.get-version.outputs.version }}'
